

/* How It Works CSS */
#how-diagram{
	background: lavender;
	margin: auto;
	margin-bottom: 40px;
}

/* About CSS*/
.headshot{
	border-radius: 50%;
	border: 8px solid lightblue;
}


/* Footer CSS */
.footer-logo{
	width: 450px;
	float: left;
	padding-left: 50px;
	padding-top: 30px;
}
.footer-text{
	font-size: 12px;
	float: right;
	padding-top: 20px;
	padding-right: 70px;
	color: #e9e9e9;
	font-style: italic;
}

#box1{
	width: 200px;
}

/* Bootstrap Provided CSS */
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
    height: 100px;
  }
  .container-fluid {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }